<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\conta.css">
    <title>Контакты</title>
</head>
<body>
    <header>
        <img class="logo" src="..\static\Logo.png">
        <h2 class="fitfood">FitFood</h2>
        <div class="menu">
				<a href="\">Главная</a>
				<a href="\menu">Меню</a>
				<a href="\cor">Корзина</a>
				<a href="\conta">Контакты</a>
				<a href="\reg">{{vh}}</a>
        </div>    	
    </header>
    <main>
        <img class="img1" src="..\static\Logo.png">
        <h1>Контакты</h1>
        <div class="call">
            <div class="div_call">
                <h2>Телефон доставки</h2>
                <h3>+7(000) 000-00-00</h3>
            </div>
            <div class="div_call">
                <h2>Контактный телефон</h2>
                <h3>+7(000) 000-00-00</h3>
            </div>            
        </div>        
    </main>
    <footer>
        <h3>Наши соц.сети</h3>
        <div class="iimg">
            <a class="ref_img" href="#"><img src="..\static\YouTube.png"></a>
            <a class="ref_img" href="#"><img src="..\static\VK.png"></a>
        </div>
    </footer>
    
</body>
</html>